
cache_**
***_cache
***_cache_*
**cache/**
*.DS_Store
tests*
__pycache__*
*logs
*dist
*build
**build.sh
*test.py
*.egg-info*
*.vscode
*test_ops
**test
**.ipynb**
**__lazycls**
**/authz
mkdocs.yml
*_docs*